<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1><%=@cocktail.name%></h1>

      <div>
        <% @cocktail.doses.each do |dose| %>
        <p>
          <span><%= dose.ingredient.name  %></span>:
          <span><%= dose.description %></span>
          <span><%= link_to "X" , dose_path(dose), method: :delete  %></span>
        </p>
        <% end %>
      </div>


      <div class="">
        <div>
          <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail),class: 'btn btn-primary' %>
        </div>

        <div>
          <%= link_to "Return to List", cocktails_path %>
        </div>
      </div>

    </div>
  </div>
</div>


